@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
@import url("https://fonts.googleapis.com/css?family=Encode+Sans+Expanded");

/* CSS fonts */
/* font-family: 'Caveat', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Varela', sans-serif;
font-family: 'Water Brush', cursive; */

html,
body {
  overflow-x: hidden;
}
body {
  position: relative;
}

img {
  border-radius: 9px;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Caveat", cursive;
  background-color: transparent;
}

p,
b,
a,
h2 {
  font-family: "Quicksand", sans-serif;
}

.logo-text {
  font: "Josefin Sans";
  position: relative;
  right: 40px;
  box-shadow: none;
}

.logo-text > img {
  box-shadow: none;
}

.center-align {
  text-align: center;
}

.black-bg {
  background: black;
}

.white-bg {
  background: white;
}

.primary-bg {
  background: darkorange;
}

#hidden {
  display: none;
}

.h1-hero {
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: transparent;
  font-size: 48px;
  text-align: center;
  font-weight: bold;

  @media screen and (max-width: 768px) {
    font-size: 40px;
  }

  @media screen and (max-width: 480px) {
    font-size: 32px;
  }
}

.hero-text {
  color: white;
  font-size: 24px;
  text-align: center;
  background-color: transparent;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}

b {
  background-color: transparent;
}

.img-wrap {
  height: 100%;
  max-width: 700px;
  margin: auto;
}

.fit-img {
  width: 100%;
}

.expand-row {
  width: 100%;
}

.white-text {
  color: white;
}

.black-text {
  color: black;
}

.black-text {
  color: black;
}

.pl {
  padding-left: 20px;
}

.pr {
  padding-right: 20px;
}

.no-effect {
  cursor: default;
}

.Menu-card > img {
  max-height: 443px;
}
