@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
@import url("https://fonts.googleapis.com/css?family=Encode+Sans+Expanded");

html,
body {
  overflow-x: hidden;
}
body {
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Encode Sans Expanded", sans-serif;
  background-color: rgb(234, 234, 234);
}

.logo-text {
  font: "Josefin Sans";
  position: relative;
  right: 40px;
}

.center-align {
  text-align: center;
}

.black-bg {
  background: black;
}

.white-bg {
  background: white;
}

.primary-bg {
  background: #b05ffd;
}

.h1-hero {
  text-shadow: 2px 2px 1px #595959;

  color: white;
  background-color: transparent;
  font-size: 48px;
  text-align: center;
  font-weight: bold;

  @media screen and (max-width: 768px) {
    font-size: 40px;
  }

  @media screen and (max-width: 480px) {
    font-size: 32px;
  }
}

.hero-text {
  color: white;
  font-size: 24px;
  text-align: center;
  background-color: transparent;
  text-shadow: 2px 2px 1px #767676;
}

b {
  background-color: transparent;
}

.img-wrap {
  height: 100%;
  max-width: 700px;
  margin: auto;
}

.fit-img {
  width: 100%;
}

.expand-row {
  width: 100%;
}

.white-text {
  color: white;
}

.black-text {
  color: black;
}

.gray-text {
  color: gray;
}

.pl {
  padding-left: 20px;
}

.pr {
  padding-right: 20px;
}
