@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
@import url("https://fonts.googleapis.com/css?family=Encode+Sans+Expanded");

/* CSS fonts */
/* font-family: 'Caveat', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Varela', sans-serif;
font-family: 'Water Brush', cursive; */

html,
body {
  overflow-x: hidden;
}
body {
  position: relative;
}

img {
  border-radius: 9px;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Caveat", cursive;
  background-color: transparent;
}

p,
b,
a,
h2 {
  font-family: "Quicksand", sans-serif;
}

.logo-text {
  font: "Josefin Sans";
  position: relative;
  right: 40px;
  box-shadow: none;
}

.logo-text > img {
  box-shadow: none;
}

.center-align {
  text-align: center;
}

.black-bg {
  background: black;
}

.white-bg {
  background: white;
}

.primary-bg {
  background: darkorange;
}

#hidden {
  display: none;
}

.h1-hero {
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: transparent;
  font-size: 48px;
  text-align: center;
  font-weight: bold;

  @media screen and (max-width: 768px) {
    font-size: 40px;
  }

  @media screen and (max-width: 480px) {
    font-size: 32px;
  }
}

.hero-text {
  color: white;
  font-size: 24px;
  text-align: center;
  background-color: transparent;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}

b {
  background-color: transparent;
}

.img-wrap {
  height: 100%;
  max-width: 700px;
  margin: auto;
}

.fit-img {
  width: 100%;
}

.expand-row {
  width: 100%;
}

.white-text {
  color: white;
}

.black-text {
  color: black;
}

.black-text {
  color: black;
}

.pl {
  padding-left: 20px;
}

.pr {
  padding-right: 20px;
}

.no-effect {
  cursor: default;
}

.Menu-card > img {
  max-height: 331px;
}

/* tinder card start */
.tinder-card {
  max-height: 331px;
  position: relative;
  top: 131px;
}

.fb-posts {
  position: relative;
  margin-top: 100px;
}

.swipe {
  position: absolute;
}

.cardContainer {
  width: 90vw;
  max-width: 260px;
  height: 300px;
}

.card {
  position: relative;
  background-color: #fff;
  width: 80vw;
  max-width: 260px;
  height: 300px;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.swipe:last-of-type {
}

.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: #fff;
}

.infoText {
  width: 100%;
  height: 28px;
  justify-content: center;
  display: flex;
  color: #fff;
  animation-name: popup;
  animation-duration: 800ms;
}

.buttons {
  margin: 20px;
  display: flex;
}

.buttons button {
  flex-shrink: 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  background-color: #9198e5;
  transition: 200ms;
  margin: 0 10px;
  font-weight: bolder;
  width: 160px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

.buttons button:hover {
  transform: scale(1.05);
}

@keyframes popup {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.1, 1.1);
  }
  30% {
    transform: scale(0.9, 0.9);
  }
  50% {
    transform: scale(1, 1);
  }
  57% {
    transform: scale(1, 1);
  }
  64% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
